*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: antiquewhite;
}
h1{
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10px;
}

 H2{
    background-color: black;
    color: aliceblue;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
    border: 3px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
   
   cursor: pointer;
   background-color: white;
}
img{
    height: 100px;
    width: 100px; 
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user,#comp{
  font-size: 4rem;
}
.MSG-CONTAINER{
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
   
}
#MSG{
    background-color: white;
    color: black;
    line-height: 5rem;
    font-size: 20px;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#MSG:hover{
    font-size: 1.2rem;

}